header{
    max-width: 1160px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 64px;
}

header::before{
    content: "";
    position: absolute;
    background-color: #f0c52e;
    opacity: 50%;
    width: 100%;
    height: 186px;
    z-index: -1;
    top: 28px;
}

ul{
    padding: 0;
}
.header-navigation{
    width: 1040px;
    margin: 0 auto;

}

.profile-navigation{
    width: 1040px;
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}

.feuaters-navigation{
    width: 1040px;
    display: flex;
    justify-content: space-between;




    width: 1044px;
}

.profile-navigation a{
    position: relative;
}

.profile-navigation li:first-child{
    position: relative;
    margin-left: 37px;
}

.profile-navigation li:first-child::before{
    content: "";
    position: absolute;
    background-image: url(../img/search.svg);
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    top: 1px;
    left: -34px;
    z-index: 1;

}

.profile-navigation .a_cart::before{
    content: "";
    position: absolute;
    background-image: url(../img/cart.svg);
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
    top: 5px;
    left: -22px;
    z-index: 1;

}

.profile-navigation .a_compare::before{
    content: "";
    position: absolute;
    background-image: url(../img/compare.svg);
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
    top: 6px;
    left: -20px;
    z-index: 1;

}

.profile-navigation .a_user::before{
    content: "";
    position: absolute;
    background-image: url(../img/user.svg);
    width: 13px;
    height: 12px;
    background-size: 13px 12px;
    top: 4px;
    left: -26px;
    z-index: 1;

}


.profile-navigation li:first-child{
    margin-right: 305px;
}

.profile-navigation li:nth-child(3){
    margin-left: -43px; 
}

.profile-navigation li:nth-child(4){
    margin-left: 21px; 
}


.header-navigation .main-logo{
    display: block;
    padding: 0;
    margin-left: -3px;
    margin-bottom: -2px;
}

.feuaters-navigation li:nth-child(2){
    margin-left: 212px;
    margin-right: -75px;
}

.feuaters-navigation li:first-child{
    position: relative;
}

.feuaters-navigation li:first-child::after{
    content: "";
    position: absolute;
    background-image: url(../img/plus.png);
    opacity: 30%;
    width: 16px;
    height: 16px;
    background-size: 16px;
    top: 1px;
    right: -27px;
    z-index: 1;
}


/* stick-for-self stick-for-self */

.stick-for-self{
    width: 1040px;
    margin: 0 auto;
    margin-right: auto;
    margin-bottom: 23px;
}

.breadcrumbs-list{
    display: flex;
    width: 385px;
    justify-content: space-between;
}

nav.stick-for-self h1{
    margin-bottom: 25px;
}

.breadcrumbs-list li{
    position: relative;
}

.breadcrumbs-list li::after{
    content: "";
    position: absolute;
    background-image: url(../img/nav-arrow.svg);
    width: 4px;
    height: 7px;
    background-size: 4px 7px;
    top: 5px;
    right: -19px;
}

.breadcrumbs-list li:last-child::after{
    content: none;
}

/* filter-section filter-section filter-section*/

.container-section{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.products-section{
    flex-basis: 63.3%;
    width: 100%;
}

.filter-section{
    flex-basis: 36.7%;
    width: 100%;
    background-color: #eeeeee;
    z-index: 0;
}

.filter-section legend{
    padding-top: 12px;
    margin-bottom: 25px;
}

input[type="range"]{
    width: 200px;
    margin-bottom: 49px;
}

fieldset.color{
    display: flex;
    margin-bottom: 35px;
}

fieldset.color label{
    margin: 0;
    padding: 0;
    margin-left: 39px;
    margin-top: 26px;
}

fieldset.color label:first-of-type{
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-top: 1px;
}

fieldset.color label:nth-of-type(2){
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-top: 25px;
}

fieldset.color label:nth-of-type(3){
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-top: 24px;
}

fieldset.color label:nth-of-type(4){
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-top: 23px;
}

fieldset.color label:nth-of-type(5){
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-top: 23px;
}

fieldset.bluetooth{
    display: flex;
    margin-bottom: 43px;
}

fieldset.bluetooth label{
    margin: 0;
    padding: 0;
    margin-left: 39px;
}

fieldset.bluetooth label:last-child{
    margin: 0;
    padding: 0;
    margin-left: 39px;
    margin-top: 25px;
}

form a.a-before{
    margin-left: 13px;
}

.filter-section{
    display: flex;
    flex-direction: column;
}

.filter-section .h3_div{
    background-color: rgba(0, 0, 0, 0.08);
    display: flex;
    margin-bottom: 69px;
}

.h3_div h3{
    margin-left: auto;
    padding: 10px 20px;
    margin-right: 155px;
}

.filter-section form{
    margin-left: auto;
    margin-right: 52px;
}


/* products-section products-section*/

.sorting-must{
    background-color: rgba(0, 0, 0, 0.08);
    width: 100%;
    height: 70.4px;
}

.sorting{
    display: flex;
    width: 765px;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    margin-left: 75px;
}

.sorting-list{
    display: flex;
    width: 287px;
    justify-content: space-between;
    margin-right: auto;
    margin-left: 50px;
}


.sorting-button-list{
    padding: 0;
    margin: 0;
    display: flex;
    width: 53px;
    justify-content: space-between;
    margin-top: -20px;
    margin-left: auto;
}


.flex-container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 760px;
    justify-content: space-between;
    margin-left: 74px;
    margin-top: 69px;
}

.flex-container li{
    width: 360px;
    
    margin-bottom: 44px;
}

.container-for-about{
    margin: 0;
    padding: 0;
    margin-top: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-container li:first-child,
.flex-container li:nth-child(2){
    margin-bottom: 35px;
}

.pagination{
    display: flex;
    width: 760px;
    height: 70px;
    margin-left: 74px;
    
    margin-bottom: 77px;
    
}

.pagination ul{
    display: flex;
    width: 90px;
    justify-content: space-between;
    margin-left: 7px;
    margin-top: 29px;
}

.pagination .button{
    padding: 27px 0px;
    
}
.pagination .pagination-button-back{
    margin-right: auto;
    padding: 27px 29px;
}

.pagination .pagination-button-forward{
    margin-left: auto;
    padding: 27px 27px;
}










/*footer footer footer */

footer{
    width: 100%;
    background-color: #464646;
    padding: 0;
    margin: 0;
    margin-top: 0px;
    padding-bottom: 45px;
}

footer nav{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

footer a,
footer .only_li{
    color: #ffffff;
}

footer .main-logo{
    color: #ffc600;
}

.profile-navigation-footer li{
    position: relative;
}

.profile-navigation-footer .a_user::before{
    content: "";
    position: absolute;
    background-image: url(../img/user-footer.svg);
    width: 13px;
    height: 12px;
    background-size: 13px 12px;
    top: 2px;
    left: -26px;
    z-index: 1;
}

.profile-navigation-footer .a_cart::before{
    content: "";
    position: absolute;
    background-image: url(../img/cart-footer.svg);
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
    top: 2px;
    left: -21px;
    z-index: 1;
}

.profile-navigation-footer .a_compare::before{
    content: "";
    position: absolute;
    background-image: url(../img/compare-footer.svg);
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
    top: 4px;
    left: -21px;
    z-index: 1;
}

.profile-navigation-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    margin-bottom: -30px;
}

.profile-navigation-footer li.li_main-logo{
    margin-top: 5px;
}


.profile-navigation-footer ul{
    display: flex;
    width: 452px;
    justify-content: space-between;
    margin-top: -15px;
}

.profile-navigation-footer ul li:nth-child(2){
    margin-left: -42px;
}

.profile-navigation-footer ul li:nth-child(3){
    margin-left: 5px;
}

.feuaters-navigation-footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    margin-bottom: 25px;
}

footer .only_li{
    letter-spacing: 0.01em;
}

.feuaters-navigation-footer ul{
    width: 427px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-left: 165px;
    margin-top: 2px;
}

.svg-list{
    display: flex;
    width: 650px;
    margin-left: auto;
}

.svg-list .logo{
    margin-left: auto;
}

.networks-list{
    display: flex;
    width: 140px;
    justify-content: space-between;
    position: relative;
}

.networks-list::before{
    content: "";
    position: absolute;
    background-color: #ffc600;
    width: 80px;
    height: 7px;
    background-size: 80px 7px;
    top: 12px;
    left: -510px;
}