/* fonts fonts fonts */

@font-face {
    font-family: 'Gilroy Light';
    src: url('Gilroy-Light.eot');
    src: url('Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Light.woff') format('woff'),
    url('Gilroy-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Extra Bold';
    src: url('Gilroy-ExtraBold.eot');
    src: url('Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-ExtraBold.woff') format('woff'),
    url('Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    outline: none;
}

a{
    text-decoration: none;
    color: #000000;
}

ul{
    list-style-type: none;
}

.visually-hidden{
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
}


.profile-navigation a,
.profile-navigation input,
.profile-navigation-footer a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    vertical-align: 30px;
    letter-spacing: 0.15px;
}

.feuaters-navigation a,
.feuaters-navigation-footer a,
.a-before{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 18px;
    vertical-align: 24px;
    letter-spacing: 0.2em;
}

a.main-logo{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 48px;
    vertical-align: 48px;
    letter-spacing: 0.01em;
}

.article_slide h2{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 47px;
    vertical-align: 56px;
    letter-spacing: 0.55px;
}

.article_slide p,
.services-section p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    vertical-align: 30px;
    letter-spacing: 0em;
}

.characteristic-item .properties{
    font-family: 'Gilroy Light', sans-serif;
    font-size: 36px;
    vertical-align: 48px;
    letter-spacing: 0.15px;
}

.characteristic-item .internals{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    vertical-align: 20px;
    letter-spacing: 0.15px;
}

.popular-section span{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 18px;
    vertical-align: 3px;
    letter-spacing: 0.01em;
}

.services-section h2{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 47px;
    vertical-align: 48px;
    letter-spacing: 0.02em;
}


.services-section p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    vertical-align: 20px;
    letter-spacing: 0.02em;
    line-height: 2;
}


.info_contact-section h2{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 47px;
    vertical-align: 48px;
    letter-spacing: 0.15px;
}

.info_contact-section p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    vertical-align: 30px;
    letter-spacing: 0.005em;
    line-height: 2;
}

.logistic-list li{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 16px;
    vertical-align: 24px;
    letter-spacing: 0.15px;
}

.feuaters-navigation-footer .only_li{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    vertical-align: 30px;
}



.stick-for-self h1{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 47px;
    vertical-align: 48px;
    letter-spacing: 0.015em;
}

.breadcrumbs-list a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    vertical-align: 24px;
    letter-spacing: 0.15px;
}

.filter-section h3,
.products-section h3{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 16px;
    vertical-align: 24px;
    letter-spacing: 3.6px;
}

form legend{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 18px;
    vertical-align: 24px;
    letter-spacing: 0.15px;
}

form label{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    vertical-align: 40px;
    letter-spacing: 0.15px;
}

.sorting-list a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    vertical-align: 18px;
}

.flex-container p{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 18px;
    vertical-align: 24px;
    letter-spacing: 0.013em;
}

.flex-container span{
    font-family: 'Gilroy Light', sans-serif;
    font-size: 16px;
    vertical-align: 24px;
    letter-spacing: 0.015em;
}

.pagination a{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 16px;
    vertical-align: 24px;
    letter-spacing: 3.6px;
}




/* buttons buttons buttons */

.profile-navigation input{
    outline: none;
    border: none;
    background-color: transparent;
}

.profile-navigation input::placeholder{
    opacity: 30%;
} 

.header-navigation a:hover,
.navigation-footer a:hover,
.main-logo:hover{
    opacity: 60%;
}

.header-navigation input:hover::placeholder{
    opacity: 60%;
}


.header-navigation a:active,
.navigation-footer a:active,
.main-logo:focus,
.main-logo:active{
    opacity: 30%;
}

.header-navigation input:focus::placeholder,
.header-navigation input:active::placeholder{
    opacity: 100%;
}

.article_slide a{
    padding: 10px 41.5px;
    position: relative;
}

.article_slide a::before{
    content: "";
    position: absolute;
    background-color:#f0c52e;
    width: 220px;
    height: 6px;
    border-top: 1px solid #f4d361;
    border-bottom: 1px solid #f4d361;
    background-size: 220px 8px;
    top: 17px;
    left: 0;
    z-index: -1;
}

.article_slide a:hover::before{
    content: "";
    position: absolute;
    background-color: transparent;
    border: none;
    transition-property: background-color, border;
    transition-duration: 0.6s;
}

.article_slide a:hover{
    background-color:#f0c52e;
    transition-property: background-color;
    transition-duration: 0.7s;
}

.article_slide a:active{
    background-color:#f0c52e;
    color: rgba(0, 0, 0, 0.3);
}

.info-article .a-before{
    padding: 10px 21px;
    position: relative;
}

.info-article .a-before::before{
    content: "";
    position: absolute;
    background-color:#f0c52e;
    width: 260px;
    height: 6px;
    border-top: 1px solid #f4d361;
    border-bottom: 1px solid #f4d361;
    background-size: 260px 8px;
    top: 17px;
    left: 0;
    z-index: -1;
}

.info-article .a-before:hover::before{
    content: "";
    position: absolute;
    background-color: transparent;
    border: none;
    transition-property: background-color, border;
    transition-duration: 0.6s;
}

.info-article .a-before:hover{
    background-color:#f0c52e;
    transition-property: background-color;
    transition-duration: 0.7s;
}

.info-article .a-before:active{
    background-color:#f0c52e;
    color: rgba(0, 0, 0, 0.3);
}



.contact-article .a-before{
    padding: 10px 39px;
    position: relative;
}

.contact-article .a-before::before{
    content: "";
    position: absolute;
    background-color:#f0c52e;
    width: 260px;
    height: 6px;
    border-top: 1px solid #f4d361;
    border-bottom: 1px solid #f4d361;
    background-size: 260px 8px;
    top: 17px;
    left: 0;
    z-index: -1;
}

.contact-article .a-before:hover::before{
    content: "";
    position: absolute;
    background-color: transparent;
    border: none;
    transition-property: background-color, border;
    transition-duration: 0.6s;
}

.contact-article .a-before:hover{
    background-color:#f0c52e;
    transition-property: background-color;
    transition-duration: 0.7s;
}

.contact-article .a-before:active{
    background-color:#f0c52e;
    color: rgba(0, 0, 0, 0.3);
}



.services-list a.a-before{
    width: 160px;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 11px;
    padding-bottom: 10px;
}

.services-list a.a-before::before{
    content: "";
    position: absolute;
    background-color:#f0c52e;
    width: 160px;
    height: 6px;
    border-top: 1px solid #f4d361;
    border-bottom: 1px solid #f4d361;
    background-size: 160px 8px;
    top: 17px;
    left: 0;
    z-index: -1;
}

.services-list a.a-before:hover::before{
    content: "";
    position: absolute;
    background-color: transparent;
    border: none;
    transition-property: background-color, border;
    transition-duration: 0.6s;
}


.services-list a.a-before:hover{
    background-color:#f0c52e;
    transition-property: background-color;
    transition-duration: 0.7s;
}

.services-list a.a-before:focus,
.services-list a.a-before:active{
    background-color:#000000;
    color: #ffffff;
}

.services-list a.a-before:focus::before,
.services-list a.a-before:active::before{
    content: "";
    position: absolute;
    background-color:#000000;
    width: 278px;
    height: 100%;
    background-size: 278px 100%;
    border: none;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition-property: width;
    transition-duration: 0.5s;
}

.services-list a.a-before:focus,
.services-list a.a-before:active{
    transition-property: background-color;
    transition-duration: 0s;
}

.services-list li:first-child a.a-before::before{
    content: "";
    position: absolute;
    background-color:#000000;
    width: 278px;
    height: 100%;
    background-size: 278px 100%;
    border: none;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition-property: width;
    transition-duration: 0.5s;
}

.services-list li:first-child a.a-before{
    color: #ffffff;
}

.services-list li:first-child a.a-before:hover::before{
    content: "";
    position: absolute;
    background-color: transparent;
    border: none;
    transition-property: background-color, border;
    transition-duration: 0.6s;
}

.services-list li:first-child a.a-before:hover{
    color: #000000;
}



.filter-form .a-before{
    padding: 10px 40px;
    position: relative;
}

.filter-form .a-before::before{
    content: "";
    position: absolute;
    background-color:#f0c52e;
    width: 200px;
    height: 6px;
    border-top: 1px solid #f4d361;
    border-bottom: 1px solid #f4d361;
    background-size: 200px 8px;
    top: 17px;
    left: 0;
    z-index: -1;
}

.filter-form .a-before:hover::before{
    content: none;
    position: absolute;
    background-color: transparent;
    border: none;
    transition-property: background-color, border;
    transition-duration: 0.6s;
}

form.filter-form .a-before:hover{
    background-color:#f0c52e;
    transition-property: background-color;
    transition-duration: 0.7s;
}

.filter-form .a-before:active{
    background-color:#f0c52e;
    color: rgba(0, 0, 0, 0.3);
}






a.a_log-off{
    opacity: 30%;
}

a.a_log-off:hover{
    opacity: 60%;
}

a.a_log-off:active{
    opacity: 100%;
}

.breadcrumbs-list a{
    opacity: 30%;
}

.breadcrumbs-list a:hover{
    opacity: 60%;
}

.breadcrumbs-list a:focus,
.breadcrumbs-list a:active{
    opacity: 10%;
}

.sorting-list a{
    opacity: 30%;
}

.sorting-list li:first-child a{
    opacity: 100%;
}

.sorting-list li a:hover{
    opacity: 60%;
}

.sorting-list a:active,
.sorting-list a:focus{
    opacity: 100%;
}

.sorting-button-list button{
    border: none;
    background-color: transparent;
}

.sorting-button-list button img{
    opacity: 20%;
}

.sorting-button-list button:last-child img{
    opacity: 100%;
}

.sorting-button-list button:hover img{
    opacity: 40%;
}

.sorting-button-list button:focus img,
.sorting-button-list button:active img{
    opacity: 100%;
}

div.pagination{
    background-color: rgba(0, 0, 0, 0.08);
}

.pagination-list a{
    opacity: 30%;
}

.pagination-list li:first-child a{
    opacity: 100%;
}

.pagination-list a:hover{
    opacity: 60%;
}

.pagination-list a:focus,
.pagination-list a:active{
    opacity: 100%;
}

.pagination .pagination-button:hover{
    background-color: #d9d9d9;
}

.pagination .pagination-button:focus,
.pagination .pagination-button:active{
    background-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.3);
}


form fieldset{
    border: none;
}

form legend{
    border-top: 2px solid #000000;
    width: 201px;
    text-align: left;
    padding-top: 15px;
}




fieldset.color label{
    position: relative;
}

input[type="checkbox"] + label::before{
    content: "";
    position: absolute;
    background-image: url(/img/checkbox-off.svg);
    width: 23px;
    height: 23px;
    background-size: 23px 23px;
    top: -3px;
    left: -41px;
}

input[type="checkbox"]:checked + label::before{
    content: "";
    position: absolute;
    background-image: url(/img/checkbox-on.svg);
    width: 27px;
    height: 23px;
    background-size: 27px 23px;
    top: -3px;
    left: -41px;
}

input[type="checkbox"]:hover + label::before{
    content: "";
    position: absolute;
    background-image: url(/img/checkbox-off.svg);
    width: 23px;
    height: 23px;
    background-size: 23px 23px;
    top: -3px;
    left: -41px;
    opacity: 60%;
}

input[type="checkbox"]:checked:hover + label::before{
    content: "";
    position: absolute;
    background-image: url(/img/checkbox-on.svg);
    width: 27px;
    height: 23px;
    background-size: 27px 23px;
    top: -3px;
    left: -41px;
    opacity: 60%;
}


input[type="checkbox"]:active + label::before{
    content: "";
    position: absolute;
    background-image: url(/img/checkbox-off.svg);
    width: 23px;
    height: 23px;
    background-size: 23px 23px;
    top: -3px;
    left: -41px;
    opacity: 100%;
}


input[type="checkbox"]:checked:active + label::before{
    content: "";
    position: absolute;
    background-image: url(/img/checkbox-on.svg);
    width: 27px;
    height: 23px;
    background-size: 27px 23px;
    top: -3px;
    left: -41px;
    opacity: 100%;
}




fieldset.bluetooth label{
    position: relative;
}

input[type="radio"] + label::before{
    content: "";
    position: absolute;
    background-image: url(/img/radio-off.svg);
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    top: -4px;
    left: -40px;
}

input[type="radio"]:checked + label::before{
    content: "";
    position: absolute;
    background-image: url(/img/radio-on.svg);
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    top: -4px;
    left: -40px;
}

input[type="radio"]:hover + label::before{
    content: "";
    position: absolute;
    background-image: url(/img/radio-off.svg);
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    top: -4px;
    left: -40px;
    opacity: 60%;
}

input[type="radio"]:checked:hover + label::before{
    content: "";
    position: absolute;
    background-image: url(/img/radio-on.svg);
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    top: -4px;
    left: -40px;
    opacity: 60%;
}

input[type="radio"]:focus + label::before{
    content: "";
    position: absolute;
    background-image: url(/img/radio-off.svg);
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    top: -4px;
    left: -40px;
    opacity: 100%;
}

input[type="radio"]:checked:focus + label::before{
    content: "";
    position: absolute;
    background-image: url(/img/radio-on.svg);
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    top: -4px;
    left: -40px;
    opacity: 100%;
}

.button-group .slider-button{
    border: none;
    background-color: transparent;
}




/* icons icons icons */

.a_popular-item div{
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(240, 197, 46, 0.5);
}

.popular-item:nth-child(2) div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.a_popular-item:hover div{
    background-color: rgba(240, 197, 46, 1);
}


.a_popular-item:active img,
.a_popular-item:active span{
    opacity: 30%;
}

.logotypes-list img{
    filter: grayscale(1);
    opacity: 20%;
}

.logotypes-list img:hover{
    filter: grayscale(0);
    opacity: 100%;
}

.flex-container a{
    display: block;
    position: relative;
    
}

.flex-container a:hover img{
    opacity: 70%;
}

.flex-container a:hover::before{
    content: "В КОРЗИНУ";
    position: absolute;
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 18px;
    vertical-align: 24px;
    letter-spacing: 0.2em;
    z-index: 2;
    top: 180px;
    left: 117px;
}

.flex-container a:hover::after{
    content: "";
    position: absolute;
    
    z-index: 1;
    top: 185px;
    left: 80px;

    background-color: #f0c52e;
    background-size: 200px 8px;
    width: 200px;
    height: 8px;
}
  
.networks-list a{
    opacity: 30%;
}

.networks-list a:hover{
    opacity: 60%;
}

.networks-list a:active{
    opacity: 10%;
}








/* ВРЕМЕННЫЕ СТИЛИ */














