/* fonts fonts fonts */

@font-face {
    font-family: 'Gilroy Light';
    src: url('Gilroy-Light.eot');
    src: url('Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Light.woff') format('woff'),
    url('Gilroy-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Extra Bold';
    src: url('Gilroy-ExtraBold.eot');
    src: url('Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-ExtraBold.woff') format('woff'),
    url('Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    outline: none;
}

a{
    text-decoration: none;
    color: #000000;
}

ul{
    list-style-type: none;
}

.visually-hidden{
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
}


.profile-navigation a,
.profile-navigation input,
.profile-navigation-footer a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    vertical-align: 30px;
    letter-spacing: 0.15px;
}

.feuaters-navigation a,
.feuaters-navigation-footer a,
.a-before{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 18px;
    vertical-align: 24px;
    letter-spacing: 0.2em;
}

a.main-logo{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 48px;
    vertical-align: 48px;
    letter-spacing: 0.15px;
}

.article_slide h2{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 47px;
    vertical-align: 56px;
    letter-spacing: 0.15px;
}

.article_slide p,
.services-section p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    vertical-align: 30px;
    letter-spacing: 0.15px;
}

.characteristic-item .properties{
    font-family: 'Gilroy Light', sans-serif;
    font-size: 36px;
    vertical-align: 48px;
    letter-spacing: 0.15px;
}

.characteristic-item .internals{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    vertical-align: 20px;
    letter-spacing: 0.15px;
}

.popular-section span{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 18px;
    vertical-align: 24px;
    letter-spacing: 0.15px;
}

.services-section h2{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 47px;
    vertical-align: 48px;
    letter-spacing: 0.15px;
}

.info_contact-section h2{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 47px;
    vertical-align: 48px;
    letter-spacing: 0.15px;
}

.info_contact-section p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    vertical-align: 30px;
}

.logistic-list li{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 16px;
    vertical-align: 24px;
    letter-spacing: 0.15px;
}

.feuaters-navigation-footer .only_li{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    vertical-align: 30px;
}



.stick-for-self h1{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 47px;
    vertical-align: 48px;
    letter-spacing: 0.15px;
}

.breadcrumbs-list a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    vertical-align: 24px;
    letter-spacing: 0.15px;
}

.filter-section h3,
.products-section h3{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 16px;
    vertical-align: 24px;
    letter-spacing: 3.6px;
}

form legend{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 18px;
    vertical-align: 24px;
    letter-spacing: 0.15px;
}

form label{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    vertical-align: 40px;
    letter-spacing: 0.15px;
}

.sorting-list a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    vertical-align: 18px;
}

.flex-container p{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 18px;
    vertical-align: 24px;
    letter-spacing: 0.15px;
}

.flex-container span{
    font-family: 'Gilroy Light', sans-serif;
    font-size: 16px;
    vertical-align: 24px;
    letter-spacing: 0.15px;
}

.pagination a{
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-size: 16px;
    vertical-align: 24px;
    letter-spacing: 3.6px;
}




/* buttons buttons buttons */

.profile-navigation input{
    outline: none;
    border: none;
}

.profile-navigation input::placeholder{
    opacity: 30%;
} 

.header-navigation a:hover,
.navigation-footer a:hover,
.main-logo:hover{
    opacity: 60%;
}

.header-navigation input:hover::placeholder{
    opacity: 60%;
}

.header-navigation a:focus,
.navigation-footer a:focus,
.header-navigation a:active,
.navigation-footer a:active,
.main-logo:focus,
.main-logo:active{
    opacity: 30%;
}

.header-navigation input:focus::placeholder,
.header-navigation input:active::placeholder{
    opacity: 100%;
}



.article_slide a{
    padding: 10px 41.5px;
    position: relative;
}

.article_slide a::before{
    content: "";
    position: absolute;
    background-color:#f0c52e;
    width: 220px;
    height: 6px;
    border-top: 1px solid #f4d361;
    border-bottom: 1px solid #f4d361;
    background-size: 220px 8px;
    top: 17px;
    left: 0;
    z-index: -1;
}

.article_slide a:hover::before{
    content: "";
    position: absolute;
    background-color: transparent;
    border: none;
    transition-property: background-color, border;
    transition-duration: 0.6s;
}

.article_slide a:hover{
    background-color:#f0c52e;
    transition-property: background-color;
    transition-duration: 0.7s;
}

.article_slide a:focus,
.article_slide a:active{
    background-color:#f0c52e;
    color: rgba(0, 0, 0, 0.3);
}



.info-article .a-before{
    padding: 10px 21px;
    position: relative;
}

.info-article .a-before::before{
    content: "";
    position: absolute;
    background-color:#f0c52e;
    width: 260px;
    height: 6px;
    border-top: 1px solid #f4d361;
    border-bottom: 1px solid #f4d361;
    background-size: 260px 8px;
    top: 17px;
    left: 0;
    z-index: -1;
}

.info-article .a-before:hover::before{
    content: "";
    position: absolute;
    background-color: transparent;
    border: none;
    transition-property: background-color, border;
    transition-duration: 0.6s;
}

.info-article .a-before:hover{
    background-color:#f0c52e;
    transition-property: background-color;
    transition-duration: 0.7s;
}

.info-article .a-before:focus,
.info-article .a-before:active{
    background-color:#f0c52e;
    color: rgba(0, 0, 0, 0.3);
}



.contact-article .a-before{
    padding: 10px 39px;
    position: relative;
}

.contact-article .a-before::before{
    content: "";
    position: absolute;
    background-color:#f0c52e;
    width: 260px;
    height: 6px;
    border-top: 1px solid #f4d361;
    border-bottom: 1px solid #f4d361;
    background-size: 260px 8px;
    top: 17px;
    left: 0;
    z-index: -1;
}

.contact-article .a-before:hover::before{
    content: "";
    position: absolute;
    background-color: transparent;
    border: none;
    transition-property: background-color, border;
    transition-duration: 0.6s;
}

.contact-article .a-before:hover{
    background-color:#f0c52e;
    transition-property: background-color;
    transition-duration: 0.7s;
}

.contact-article .a-before:focus,
.contact-article .a-before:active{
    background-color:#f0c52e;
    color: rgba(0, 0, 0, 0.3);
}



.services-list a.a-before{
    width: 160px;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 9px;
    padding-bottom: 9px;
}

.services-list a.a-before::before{
    content: "";
    position: absolute;
    background-color:#f0c52e;
    width: 160px;
    height: 6px;
    border-top: 1px solid #f4d361;
    border-bottom: 1px solid #f4d361;
    background-size: 160px 8px;
    top: 15px;
    left: 0;
    z-index: -1;
}

.services-list a.a-before:hover::before{
    content: "";
    position: absolute;
    background-color: transparent;
    border: none;
    transition-property: background-color, border;
    transition-duration: 0.6s;
}

.services-list a.a-before:hover{
    background-color:#f0c52e;
    transition-property: background-color;
    transition-duration: 0.7s;
}

.services-list a.a-before:focus,
.services-list a.a-before:active{
    background-color:#000000;
    color: #ffffff;
}

.services-list a.a-before:focus::before,
.services-list a.a-before:active::before{
    content: "";
    position: absolute;
    background-color:#000000;
    width: 278px;
    height: 40px;
    background-size: 278px 40px;
    border: none;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition-property: width;
    transition-duration: 0.5s;
}

.services-list a.a-before:focus,
.services-list a.a-before:active{
    transition-property: background-color;
    transition-duration: 0s;
}



.filter-form .a-before{
    padding: 10px 40px;
    position: relative;
}

.filter-form .a-before::before{
    content: "";
    position: absolute;
    background-color:#f0c52e;
    width: 200px;
    height: 6px;
    border-top: 1px solid #f4d361;
    border-bottom: 1px solid #f4d361;
    background-size: 200px 8px;
    top: 17px;
    left: 0;
    z-index: -1;
}

.filter-form .a-before:hover::before{
    content: "";
    position: absolute;
    background-color: transparent;
    border: none;
    transition-property: background-color, border;
    transition-duration: 0.6s;
}

.filter-form .a-before:hover{
    background-color:#f0c52e;
    transition-property: background-color;
    transition-duration: 0.7s;
}

.filter-form .a-before:focus,
.filter-form .a-before:active{
    background-color:#f0c52e;
    color: rgba(0, 0, 0, 0.3);
}

a.a_log-off{
    opacity: 30%;
}

a.a_log-off:hover{
    opacity: 60%;
}

a.a_log-off:focus,
a.a_log-off:active{
    opacity: 100%;
}

.breadcrumbs-list a{
    opacity: 30%;
}

.breadcrumbs-list a:hover{
    opacity: 60%;
}

.breadcrumbs-list a:focus,
.breadcrumbs-list a:active{
    opacity: 10%;
}

.sorting-list a{
    opacity: 30%;
}

.sorting-list li:first-child a{
    opacity: 100%;
}

.sorting-list li a:hover{
    opacity: 60%;
}

.sorting-list a:active,
.sorting-list a:focus{
    opacity: 100%;
}

.sorting-button-list button{
    border: none;
    background-color: transparent;
}

.sorting-button-list button img{
    opacity: 20%;
}

.sorting-button-list button:last-child img{
    opacity: 100%;
}

.sorting-button-list button:hover img{
    opacity: 40%;
}

.sorting-button-list button:focus img,
.sorting-button-list button:active img{
    opacity: 100%;
}

div.pagination{
    background-color: rgba(0, 0, 0, 0.08);
}

.pagination-list a{
    opacity: 30%;
}

.pagination-list li:first-child a{
    opacity: 100%;
}

.pagination-list a:hover{
    opacity: 60%;
}

.pagination-list a:focus,
.pagination-list a:active{
    opacity: 100%;
}

.pagination .pagination-button:hover{
    background-color: #d9d9d9;
}

.pagination .pagination-button:focus,
.pagination .pagination-button:active{
    background-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.3);
}









/* ВРЕМЕННЫЕ СТИЛИ */

.services-list a.a-before{



    margin-top: 30px;
}













